body
  div(class="container")
    
    header(class="header")
      h1 noteX
      h2 an elegant note-taking app
    
    button(class="button" id="create-note") Create note 

    div(class="menu")
      button(class="button" id="menu-button") Menu
      input(type="text" id="search-text" placeholder="Search notes")
      select(class="dropdown" id="sort-by") 
        option(value="byDate") Sort by creation date 
        option(value="byEdited") Sort by last edited
        option(value="byRecent") Sort by most recent

    div(class="leftside-bar")
      //- tags, calendar and everything else should go in here
