body
  
  nav.navbar
    div.container
      div#upper-container
        ul.navbar-left
          li.nav-left-item noteX
          li.nav-left-item Home
          li.nav-left-item About
        ul.navbar-right
          li.nav-right-item Sign Up
          li.nav-right-item Login
      //- div#lower-container
      //-   ul.navbar-right
      //-     li.nav-right-item Add notebook 
      //-     li.nav-right-item And note
  
  div.notes-container notes-container
    ul#notes-area
      li.notebook-list the list of notebooks 
      li.notes-list the list of notes in a notebook
      li.note-content note content