body
  div(class="container")
    
    header(class="header")
      h1 noteX
      h2 an elegant note-taking app
    
    div(class="create-note")
      button(id="create-note-button" onclick="createNewNote()") Create note 

    div(class="menu")
      //- input(type="date")
      input(type="text" name="search" id="search-text" placeholder="Search notes...")
      select(class="dropdown" id="sort-by") 
        option(value="byDate") Sort by creation date 
        option(value="byEdited") Sort by last edited
        option(value="byRecent") Sort by most recent

    div(id="notes-container")