body
  div(class="container")
    
    header(class="header")
      h1 noteX
      h2 an elegant note-taking app
    
    button(class="button" id="create-note" onClick="insertNote()") Create note 

    div(class="menu")
      button(class="button" id="menu-button") Menu
      //- input(type="date")
      input(type="text" name="search" id="search-text" placeholder="Search notes")
      select(class="dropdown" id="sort-by") 
        option(value="byDate") Sort by creation date 
        option(value="byEdited") Sort by last edited
        option(value="byRecent") Sort by most recent

    div(class="notes-container")
      div(class="note" id="note-id")
        div(class="note-header") 
          div(class="note-title") 
            h3 Groceries list 
          //- div(class="note-pin")
          //-   i(class="fas fa-thumbtack fa-lg")
        div(class="note-content") 
          //- TODO insert image at cursor position via icon from footer
          p Bread, raddish, salt, onion, some more onion and some extra lorem ipsum
        div(class="note-footer")
          div(class="note-footer-text")
            p Last edited: 5 minutes ago
          div(class="note-footer-pins")
            div(class="footer-icon")            
              i(class="far fa-file-image fa-lg")
            div(class="footer-icon")
              i(class="far fa-copy fa-lg")
            div(class="footer-icon")
              i(class="far fa-trash-alt fa-lg")

            
            
            
