body
  
  nav.navbar
    div.container
      ul.navbar-left
        li.nav-left-item: a(href="#") noteX
        li.nav-left-item: a(href="#") Home
        li.nav-left-item: a(href="#") About
      ul.navbar-right
        li.nav-right-item: a(href="#") Sign Up
        li.nav-right-item: a(href="#") Login
      //- div#lower-container
      //-   ul.navbar-right
      //-     li.nav-right-item Add notebook 
      //-     li.nav-right-item And note
  
  main 
    div.notes-container
      ul#notes-area
        li.notebook-list
          //- This button must toggle CreateNotebook and Cancel commands
          button(id="create-notebook" type="submit" onclick="createNotebookItem") Create notebook 
        li.notes-list the list of notes in a notebook
        li.note-content note content

  footer
    .notebook-list
      notebook-items are dynamically added here