body
  //- div(class="navbar-above-main-container")

  div(class="main-container")

    //- notes header, reserved for New Note element
    div(class="take-note-container")
      //- new note element
      div(class="take-note-group")
        //- input text (later open new note div)
        div(id="take-note-input")
          //- div(class="input-text")
            FIXME use textarea instead of input
          input(class="input-text" type="text", name="text", placeholder="Take new note...")
          //- textarea(class="input-text" name="take-note", cols="5", rows="10")
        //- possible clickable icons at the end of the text input
        div(class="take-note-buttons")
          i(class="test far fa-copy")
          i(class="test far fa-edit")
          i(class="test far fa-times-circle")

    //- notes body, reserved for the List of Notes we create
      each note should be generated with JS on.click event
