body
  h1 Welcome to noteX
  //- img(src="https://makelearningstick.files.wordpress.com/2016/02/c7cgvrau4aaf05z.jpg?w=840", alt="noteX-meme")
  //- h2 What is noteX
  //- p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  //- h2

  ul
    li
      h2 What is noteX?
    li 
      img(src="https://makelearningstick.files.wordpress.com/2016/02/c7cgvrau4aaf05z.jpg?w=840", alt="noteX-meme")
    li
      p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam, ex illo facilis nisi, possimus adipisci voluptas quidem quae explicabo hic nulla aliquid quod totam ipsam ut repellat iusto! Sed, quisquam!