body
  
  nav.navbar
    div.container
      ul.navbar-left
        li.nav-left-item: a(href="#") noteX
        li.nav-left-item: a(href="#") Home
        li.nav-left-item: a(href="#") About
      ul.navbar-right
        li.nav-right-item: a(href="#") Sign Up
        li.nav-right-item: a(href="#") Login
      //- div#lower-container
      //-   ul.navbar-right
      //-     li.nav-right-item Add notebook 
      //-     li.nav-right-item And note
  
  div.notes-container
    ul#notes-area
      li.notebook-list
        button(id="create-notebook" type="submit") Create notebook 
      li.notes-list the list of notes in a notebook
      li.note-content note content