body
  div(class="note-container")
    div(class="note-list")
    
      div(class="note")
        div(class="note-header")
          span(class="note-close")
            i(class="fas fa-times")
        div(class="note-title")
          p Note Title goes in here
        div(class="note-body")
          p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus sunt accusantium dignissimos iure adipisci. Alias, dignissimos nam? Omnis est quae minima fugiat, nisi provident tempore alias in earum consequatur ipsa!Maxime est ipsum quidem ratione, rem iste totam soluta aliquam sit, autem sint amet perferendis earum iusto eius!
