body
  //- div(class="navbar-above-main-container")

  div(class="main-container")

    //- notes header, reserved for New Note element
    div(class="tn-container")
      ul(class="tn-group")
        li(id="tn-input")
          input(id="input-text" type="text", name="text", placeholder="Take new note...")
        ul(class="tn-buttons")
          li(class="tn-button" id="btn-edit") 
            i(class="far fa-edit")
          li(class="tn-button" id="btn-copy") 
            i(class="far fa-copy")
          li(class="tn-button" id="btn-close") 
            i(class="far fa-times-circle")

    //- notes body, reserved for the List of Notes
    div(class="nl-container")
      div(class="nl-note")