// @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap')

body
  padding: 1em
  background: #303136
  font-family: 'Raleway', sans-serif

.note-container
  display: flex
  flex-flow: row wrap

// TODO is this needed? 
.note-list
  flex-grow: 1
  justify-content: center
  flex-wrap: wrap
  margin: 0 auto
  
.note
  background-color: rgba(215, 200, 215, .7)
  border-radius: .3vw
  width: 25vw
  padding: 1em
  flex-wrap: wrap
  resize: both
  cursor: pointer

.note-header
  font-size: 2em

