* 
  box-sizing: border-box

body
  // background: url('../img/jan-kahanek-g3O5ZtRk2E4-unsplash.jpg') #a6bbf5
  // background-size: cover
  font-family: 'Open Sans', sans-serif
  margin: 0

.header
  margin-bottom: 2em

.container
  width: 80vw
  padding: 0
  height: 100vh
  margin: 0 auto

.notes-container
  display: flex
  flex-flow: row wrap
  justify-content: center
  margin-top: 5em
  // border: 1px solid cyan
  
  .note
    display: flex
    flex-flow: column nowrap
    justify-content: space-around
    border-radius: 0.5em
    box-shadow: 0.1em 0.3em 0.5em rgba(0, 0, 0, .4)
    margin-left: 1.7em
    width: 15em
    height: 20em
    padding: 0 0.6em 
    
    .note-header
      // background-color: #f8f9fa
      display: flex
      flex-flow: row wrap
      align-items: center
      // justify-content: space-around

      .note-title
        border: 1px solid green
        line-height: .8
        padding: 0 1.2em
        justify-content: flex-start
      .note-pin
        // display: none
        border: 1px solid red
        padding: 1em 1em 0.8em 1em
        justify-content: flex-end
        &:hover
          display: block
          margin-left: .5em
          transition: 0.3s all
          background-color: #e5e5e5
          border-radius: 50%
      
    .note-footer
      display: flex
      flex-flow: column nowrap
      position: relative
            
      .note-footer-text
        > p
           font-size: 0.8em
           text-align: center

      .note-footer-pins
        border: 1px solid pink
        display: flex
        flex-flow: row nowrap
        justify-content: space-around
        padding: 0.7em
        
        .footer-icon
          border: 1px solid red
          margin: 0
          &:hover
            background-color: #f8f9fa
          
