@font-face
  font-family: open-sans;
  src: url('../fnt/open-sans');

* 
  box-sizing: border-box

body
  background: url('../img/jan-kahanek-g3O5ZtRk2E4-unsplash.jpg') #a6bbf5
  background-size: cover
  font-family: 'Open Sans', sans-serif


.main-container
  display: flex
  height: 100vh
  border: 1px solid pink

.take-note-container
  height: 10vh
  width: 100vw
  border: 1px solid red
  padding: 1em

.take-note-group
  display: flex
  flex-flow: row wrap
  border: 1px solid green
  resize: both
  cursor: pointer

.take-note-buttons
  margin-left: 0.4em
